includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - config
        - database
        - resources
        - tests
        - bootstrap
    excludePaths:
        - tests/Unit/ExampleTest.php
    treatPhpDocTypesAsCertain: false
